/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #565656;
    font-weight: 400;
}

a:hover {
    text-decoration: none
}


/* Background Images */

.blog-bg-1 {
    background-image: url(../img/blog-box-img-1.jpg)
}

.blog-bg-2 {
    background-image: url(../img/blog-box-img-2.jpg)
}

.blog-bg-3 {
    background-image: url(../img/blog-box-img-3.jpg)
}


/* Blog Section CSS */

.section-padding {
    padding: 100px 0;
}

.section-title {
    margin-bottom: 70px;
}

.section-title h2 {
    font-size: 30px;
    position: relative;
    margin-bottom: 24px;
}

.section-title h2:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 60px;
    background: #FF8F17;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.section-title h2:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 20px;
    background: #000;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.single-blog-box-bg {
    height: 200px;
    background-position: center;
    background-size: cover;
    border: 1px solid #FF8F17;
}

.single-blog-box-contents {
    padding: 30px 20px;
    border: 1px solid #ddd;
    border-top: 0px solid;
    transition: .3s;
}

.single-blog-box:hover .single-blog-box-contents {
    border-color: #FF8F17;
}

.blog-meta {
    font-size: 14px;
}

.blog-meta span:not(:last-child) {
    margin-right: 20px;
}

.blog-meta a{
    color: #565656;
}

.blog-meta i {
    color: #FF8F17;
    margin-right: 10px;
}

.single-blog-box-contents h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.single-blog-box-contents p {
    text-align: justify;
}

.blog-readmore-btn {
    background-color: #FF8F17;
    padding: 10px 20px;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    transition: .3s;
}

.blog-readmore-btn:hover {
    background-color: #000;
    color: #fff;
}